.parNav {
  border-bottom: 1px solid #25a18e;
}

.parLogo {
  padding-right: 120px !important;
}

.logoStyle {
  color: #618264 !important;
  font-size: 28px !important;
  font-weight: 700 !important;
  padding-left: 120px !important;
}
.spanLogo {
  color: #186f65 !important;
}
